
<ul id="messages"></ul>
<form action="">
  <input id="textarea-any" autocomplete="off" /><button id="buttons">Send</button>
</form>


<script>
  const socket = io.connect('localhost:3000')
  socket.on('connect', function () {
    console.log('Connected')
    $('#page').show()
  })
  // socket.on('chat message', function (data) {
  //   console.log(data + 'in footer')
  // })
  socket.on('disconnect', function () {
    console.log('dc')
    $('#page').hide()
  })
</script>