<head>
  <title>TypeVritter</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
  
  <script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>
  <script src="//cdn.rawgit.com/donmccurdy/aframe-physics-system/v4.0.1/dist/aframe-physics-system.min.js"></script>
  <script src="https://unpkg.com/aframe-text-geometry-component@^0.5.0/dist/aframe-text-geometry-component.min.js"></script> 
  <script src="https://unpkg.com/aframe-textarea-component/dist/aframe-textarea-component.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  
  <script src="/views/layout/SocketComponent.js"></script>
  <script src="/views/layout/ChatComponent.js"></script>
  <script src="/views/layout/StatusComponent.js"></script>
  <script src="/views/layout/ConversationComponent.js"></script>
  <script>
    var setint = ""
  </script>
</head>

