<!doctype html>
<html>
  <head>
    <title>Login</title>
  </head>
  <form action="/login" method="POST">
    nama <input type="text" name="name">
    password <input type="text" name="password">
    <button type="submit">register</button>
  </form>
</html>
